ase
customtkinter
cycler
darkdetect
fabio
fonttools
h5py
hdf5plugin
imageio
joblib
kiwisolver
lazy-loader
lxml
matplotlib
networkx
numexpr
numpy
packaging
pandas
pillow
pyfai
pyparsing
python-dateutil
pytz
pyyaml
scikit-image
scikit-learn
scipy
seaborn
setuptools
silx
six
squarify
threadpoolctl
tifffile
tzdata
uv
wheel
